@{
	ViewData["Title"] = "Forgot Password";
}

@model JapaneseMealReservation.ViewModels.ForgotPasswordViewModel

<div class="login-page">
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">

        <div class="login-card">
            <h4>
                <i class="fa-solid fa-user-lock"></i>
            </h4>

            @* Global validation summary *@
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <p>
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            @error.ErrorMessage
                        }
                    </p>
                </div>
            }

            <form asp-controller="Home" asp-action="ForgotPassword" method="Post">
                <div class="form-floating mb-3">
                    <input asp-for="EmployeeId" oninput="this.value = this.value.toUpperCase();" class="form-control rounded-3" placeholder="Employee ID" required />
                    <label asp-for="EmployeeId">Employee ID</label>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control rounded-3" placeholder="Password" type="password" required />
                    <label asp-for="Password" class="form-label">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control rounded-3" placeholder="Confirm Password" type="password" required />
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-dark w-100">Reset Password</button>

            </form>
        </div>

    </div>
</div>



